# Pycharm
.idea/
**__pycache__/

notebooks/.ipynb_checkpoints/*
notebooks/races/*
notebooks/pace_data/*
.vscode/*
wedart/*
build/*

# Packages
*.egg
*.egg-info
notebooks/colab_installer.py
**.pyc
trianer_db_credentials.json
nohup.out
Makefile
setup.py
tests/Barden_hr.gpx
tests/Barden_HR.gpx
tests/A Maniccia_HR.gpx
hbcourse/
.streamlit/secrets.toml
.streamlit/firestore-key.json
