# Pycharm
.idea/
**__pycache__/

notebooks/.ipynb_checkpoints/*
notebooks/races/*
notebooks/pace_data/*
.vscode/*
trash/*

# Packages
*.egg
*.egg-info
notebooks/colab_installer.py
**.pyc
trianer_db_credentials.json
nohup.out
