# Not all packages can be installed on server
streamlit>=1.12.2
extra-streamlit-components
hydralit_components

pandas
#pandas-datareader
meteostat
#uncertainties

seaborn
plotly
matplotlib
sklearn
#xgboost

#flaml
#black

folium
streamlit-folium

google-cloud-firestore
#worldcloud
