django>=4.0, <5.0
gunicorn
django-heroku
streamlit

pandas
pandas-datareader
data_cache
#psutil

geopandas
#mplleaflet
contextily
descartes
meteostat

seaborn
plotly
matplotlib

ipykernel
jupyterlab
ipywidgets
jupyterlab-geojson

tqdm
#argcomplete
black

# For luigi
#luigi
#sqlalchemy
folium